
.Title{
  text-align: center;
  margin:1000em 0 0.5em 0;
}
.App,.Dimmed,.Bright,.HomePage{
justify-content: center;
display: flex;
flex-direction: column;
}
button{
  width:100px;
  height:25px;
  margin: auto;
  background-color:darkcyan;
  border-color:darkcyan;
  color:white;
  font-size:16px;
}
.Dimmed{
  filter:opacity(0.2);
}
.Bright{
  filter:opacity(1);
}